@media only screen and (min-width: 600px) {
    .siteName a {
        font-size: 3rem;
        margin-left: 2rem;
    }

    #tools a {
        font-size: 1.7rem;
        margin-right: 2rem;
    }

    nav ul{
        font-size: 2rem;
    }

    .ptitle {
        font-size: 2rem;
        margin: 2rem 0 1rem 2rem;
    }

    .hero img {
        width: 65%;
        display: block;  
        margin: 0 auto;   
        border-radius: 10px;
    }

    .hero-card {
        top: 20%;
        left: 15%;
        line-height: 2rem;
        background-color: rgba(125, 135, 177, 0.4);
        padding: 20px;
    }

    .hero-card h2 {
        font-size: 2rem;
        margin: 10px 0;
    }

    .hero-card p {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .hero-card button{
        font-size: 1.5rem;
        margin: 15px;
    }

    .page-content{
        display: grid;
        grid-template-columns: 2fr 1fr; 
        gap: 20px; 
        margin: 20px;
    }
    
    .delorean-upgrades {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
    }

    .delorean-upgrades h2 {
        font-size: 2rem;
    }

    .dreviews {
        grid-row: 1;
        grid-column: 2;
    }

    .dreviews h2 {
        font-size: 2rem;
    }

    .dreviews li {
        font-size: 1.2rem;
    }

    .dreviews h2{
        margin: 15px;
    }


}