/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
  padding: 5px 0;
  align-items: center;
}

.siteName a{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 8px;
  color: rgb(31, 28, 53);
}

#tools a{
  font-size: 1rem;
  text-decoration: none;
  margin: 8px;
  color: rgb(31, 28, 53);
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 15px 0;
  width: 100%;
  margin: 0 0 15px 0;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(31, 28, 53);
}

.ptitle {
  font-size: 1.6rem;
  margin-left: 8px;
}

.hero{
  position: relative;
}

.hero img {
  width: 100%;
  margin: 15px 0;
}

.hero-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  top: 20%;
  left: 5%;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
}

.hero-card h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.hero-card p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.hero-card button {
  border: none;
  background: rgb(31, 28, 53);
  color: white;
  padding: 10px;
  margin-top: 10px;
  justify-self: center;
  border-radius: 5px;
}

.dreviews {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 8px;
}

.dreviews h2{
  margin: 10px 0;
}

.review-list {
  list-style-position: inside;
  line-height: 1.5rem;
}


.delorean-upgrades h2 {
  white-space: nowrap;
  margin: 15px 8px;
}

.upgrade-cards {
  display: grid;                 
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  margin: 0 10px; 
}

.upgrade-cards section {
  align-content: center;
  justify-items: center;
  background: rgb(31, 28, 53, 0.4);
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 10px;
}

.upgrade-cards .card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  width: 135px;
}

.upgrade-cards .card img {
  justify-self: center;
  width: 100%;
  display: block;
  border-radius: 5px;
  height: 75px;
  width: auto;
}

.upgrade-cards figcaption {
  background: rgb(31, 28, 53);
  color: white;
  padding: 2px 10px;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 40px;
}

footer p{
  margin-left: 8px;
}