<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>

<body>

  <main class="detail-page">
    <h1><%= title %></h1>

    <div>
      <%- detailHTML %>
    </div>

  </main>
</body>
</html>
